<launch>
    <arg name="forced_tf_position" />
    <node name="tf_publisher_node" type="tf_publisher_node" pkg="kinfu_tf_fixer" output="screen" >
        <param name="publish_camera_pose" value="$(arg forced_tf_position)" />
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="camera_to_camera_screw_static_tf_pub" 
          args="0.000, 0.018, 0.013 0 0 0  /camera_bottom_screw_frame /camera_link  10"/>
</launch>
