<launch>
  <arg name="forced_tf_position" value="false" />
  <node name="tf_publisher_node" type="tf_publisher_node" pkg="kinfu_tf_fixer" output="screen" >
      <param name="publish_camera_pose" value="$(arg forced_tf_position)" />
  </node>

  <param name="/kinect_kinfu1/volume_resolution" value="428" />
  <param name="/kinect_kinfu1/volume_size" value="2" />
  <node pkg="kinfu" type="kinfu" name="kinect_kinfu1" output="screen"> <!--launch-prefix="gdb -ex print &#45;&#45;args">-->
    <param name="prefix_topic" value="" />
    <param name="camera_info_topic" value="/sdf_realsense_d435/depth/camera_info" />
    <param name="depth_image_topic" value="/sdf_realsense_d435/depth/image_raw" />
    <param name="image_topic" value="/sdf_realsense_d435/rgb/image_raw" />

    <param name="first_frame_reference_name" value="kinfu_reference" />
    <param name="current_frame_reference_name" value="sdf_realsense_d435_link_optical" />
    <param name="robot_frame_reference_name" value="sdf_realsense_d435_link" />

    <param name="forced_tf_position" value="$(arg forced_tf_position)" />
    <param name="forced_tf_reference_frame" value="kinfu_reference" />
    <param name="forced_tf_current_frame" value="sdf_realsense_d435_link_optical" />

    <param name="truncation_dist" value="0.3" />

    <param name="autostart" value="true" />
    <param name="response_topic" value="/kinfu_response_topic" />
    <param name="request_topic" value="/kinfu_request_topic" />
    <param name="extract_known_points" value="false" />
    <param name="extract_surface_points" value="true" />

    <param name="depth_height" type="int" value="480" />
    <param name="depth_width" type="int" value="848" />
  </node>

</launch>
