<launch>
    <arg name="camera_depth_frame_offset" value="0.015" />

    <!-- EE mounted realsense -->
    <!--<node pkg="tf" type="static_transform_publisher" name="tool0_to_camera_link_kinfu"-->
          <!--args="0.0 -0.0125 0.035 -1.571 -1.571 0.0 camera_ee_mount camera_bottom_screw_frame 10" />-->

    <!-- Wrist mounted realsense -->
    <node pkg="tf" type="static_transform_publisher" name="tool0_to_camera_link_kinfu"
          args="0.014 0.0 -0.0705 0 0 0.0 realsense_wrist_mount camera_bottom_screw_frame 10" />

    <node pkg="tf" type="static_transform_publisher" name="camera_to_camera_screw_static_tf_pub" 
          args="$(arg camera_depth_frame_offset) 0.0175 0.0125 0 0 0  /camera_bottom_screw_frame /camera_link  10"/>
</launch>
